Repository IwannabeRealnerD/wedding-sh, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, CI, docs, vscode-settings, packages, lint-formatting

feat: working
  .eslintignore
  .eslintrc.cjs
  .gitignore
  .prettierrc
  .vscode/settings.json
  README.md
  cspell.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/app.css
  src/app.html
  src/lib/constants/command.ts
  src/lib/styles/resetCSS.css
  src/lib/utils/command.ts
  src/lib/utils/storage/index.ts
  src/lib/utils/storage/type.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/components/HistoryLine.svelte
  src/routes/components/UserInputForm/AutoComplete.svelte
  src/routes/components/UserInputForm/index.svelte
  src/routes/components/UserInputForm/util.ts
  src/routes/components/index.ts
  src/routes/components/welcomeMessage.svelte
  src/settings/index.ts
  test/unitTest/findAvailableCommand.spec.ts
  test/unitTest/makeHelpOutput.spec.ts
  vite.config.ts
Labels: feat, docs, vscode-settings, packages

feat: nojekyll
  .nojekyll
  .nvmrc
  package.json
  src/routes/+layout.svelte
Labels: feat, packages

production
  .nojekyll
  svelte.config.js
  vite.config.ts
Labels: none

test: build
  src/app.html
  static/khanne-sh_og.png
  static/wedding-sh_og.png
  svelte.config.js
Labels: feat

?
  package.json
  pnpm-lock.yaml
Labels: packages

Updates
  .nojekyll
  _app/env.js
  _app/immutable/assets/0.BAi-tNNk.css
  _app/immutable/assets/_layout.BkVROZ8m.css
  _app/immutable/chunks/BlIDcdmo.js
  _app/immutable/chunks/CUCYxBLy.js
  _app/immutable/chunks/CUaxhFna.js
  _app/immutable/chunks/CbioHekc.js
  _app/immutable/chunks/DMWx587H.js
  _app/immutable/chunks/Gvps2hb7.js
  _app/immutable/chunks/hicbv3pm.js
  _app/immutable/entry/app.CV4Ne4z7.js
  _app/immutable/entry/start.bEvRcYKT.js
  _app/immutable/nodes/0.vYjcPq9E.js
  _app/immutable/nodes/1.op3P--Fc.js
  _app/immutable/nodes/2.Dxfmb57b.js
  _app/version.json
  android-chrome-192x192.png
  android-chrome-512x512.png
  apple-touch-icon.png
  favicon-16x16.png
  favicon-32x32.png
  favicon.ico
  index.html
  wedding-sh_og.png
Labels: none

Updates
  DungGeunMo.woff2
  _app/immutable/assets/0.BAi-tNNk.css
  _app/immutable/assets/0.ChPn-xaz.css
  _app/immutable/assets/_layout.0cyQ6RYe.css
  _app/immutable/assets/_layout.BkVROZ8m.css
  _app/immutable/chunks/D5BxhRtL.js
  _app/immutable/chunks/DMWx587H.js
  _app/immutable/entry/app.BSx-uTl8.js
  _app/immutable/entry/app.CV4Ne4z7.js
  _app/immutable/entry/start.OHBDY08R.js
  _app/immutable/entry/start.bEvRcYKT.js
  _app/immutable/nodes/0.9XJuX0Ox.js
  _app/immutable/nodes/1.CzQeJdRu.js
  _app/immutable/nodes/1.op3P--Fc.js
  _app/immutable/nodes/2.Dxfmb57b.js
  _app/immutable/nodes/2.lIfYRKcy.js
  _app/version.json
  index.html
Labels: none

Updates
  _app/immutable/assets/0.ChPn-xaz.css
  _app/immutable/assets/0.DQlKyHtw.css
  _app/immutable/assets/_layout.0cyQ6RYe.css
  _app/immutable/assets/_layout.CSz7iSNy.css
  _app/immutable/chunks/D5BxhRtL.js
  _app/immutable/chunks/D5Yrc5LP.js
  _app/immutable/entry/app.BSx-uTl8.js
  _app/immutable/entry/app.meUkNvyw.js
  _app/immutable/entry/start.B1xuyWTv.js
  _app/immutable/entry/start.OHBDY08R.js
  _app/immutable/nodes/0.Ci3NsSun.js
  _app/immutable/nodes/1.CQpRJknQ.js
  _app/immutable/nodes/1.CzQeJdRu.js
  _app/immutable/nodes/2.CXHVXhQE.js
  _app/immutable/nodes/2.lIfYRKcy.js
  _app/version.json
  index.html
Labels: none

feat: font ans misc for maintainability
  package.json
  src/app.css
  src/app.html
  src/lib/components/Prompt.svelte
  src/lib/utils/storage/type.ts
  src/routes/+page.svelte
  src/routes/components/HistoryLine.svelte
  src/routes/components/UserInputForm/index.svelte
  src/routes/components/welcomeMessage.svelte
  src/settings.ts
  static/DungGeunMo.woff2
Labels: feat, packages

Updates
  _app/immutable/assets/0.BT4-uIWv.css
  _app/immutable/assets/0.DQlKyHtw.css
  _app/immutable/assets/_layout.0psLtiuk.css
  _app/immutable/assets/_layout.CSz7iSNy.css
  _app/immutable/chunks/BrWFqB40.js
  _app/immutable/chunks/D5Yrc5LP.js
  _app/immutable/entry/app.Dg0tY_kP.js
  _app/immutable/entry/app.meUkNvyw.js
  _app/immutable/entry/start.B1xuyWTv.js
  _app/immutable/entry/start.Cj4GPDAd.js
  _app/immutable/nodes/0.BZgiY14X.js
  _app/immutable/nodes/1.CCqwE8K5.js
  _app/immutable/nodes/1.CQpRJknQ.js
  _app/immutable/nodes/2.BWloctTX.js
  _app/immutable/nodes/2.CXHVXhQE.js
  _app/version.json
  index.html
Labels: none

Updates
  _app/immutable/assets/0.BT4-uIWv.css
  _app/immutable/assets/0.DOR0LJVR.css
  _app/immutable/assets/_layout.0psLtiuk.css
  _app/immutable/assets/_layout.Dh4lC-qh.css
  _app/immutable/chunks/BrWFqB40.js
  _app/immutable/chunks/COBRzb-T.js
  _app/immutable/entry/app.Dg0tY_kP.js
  _app/immutable/entry/app.DjXGjFmz.js
  _app/immutable/entry/start.C4niWtUP.js
  _app/immutable/entry/start.Cj4GPDAd.js
  _app/immutable/nodes/0.pz_gspdg.js
  _app/immutable/nodes/1.CCqwE8K5.js
  _app/immutable/nodes/1.DLY_zp_A.js
  _app/immutable/nodes/2.BWloctTX.js
  _app/immutable/nodes/2.CKuFWUtl.js
  _app/version.json
  index.html
Labels: none

Updates
  _app/immutable/assets/0.BiIm2OZ4.css
  _app/immutable/assets/0.DOR0LJVR.css
  _app/immutable/assets/_layout.D7m3H6HE.css
  _app/immutable/assets/_layout.Dh4lC-qh.css
  _app/immutable/chunks/BHB9Lpxj.js
  _app/immutable/chunks/BjQbaunu.js
  _app/immutable/chunks/BlIDcdmo.js
  _app/immutable/chunks/CKluXSiL.js
  _app/immutable/chunks/COBRzb-T.js
  _app/immutable/chunks/CUCYxBLy.js
  _app/immutable/chunks/CUaxhFna.js
  _app/immutable/chunks/CbioHekc.js
  _app/immutable/chunks/CiYV1qqO.js
  _app/immutable/chunks/DnZowv42.js
  _app/immutable/chunks/Gvps2hb7.js
  _app/immutable/chunks/QyJZtLor.js
  _app/immutable/chunks/hicbv3pm.js
  _app/immutable/chunks/mf02nsm9.js
  _app/immutable/entry/app.CbrMarC_.js
  _app/immutable/entry/app.DjXGjFmz.js
  _app/immutable/entry/start.C4niWtUP.js
  _app/immutable/entry/start.CtHLDKZE.js
  _app/immutable/nodes/0.Cxxb0eSx.js
  _app/immutable/nodes/0.pz_gspdg.js
  _app/immutable/nodes/1.D9hleYeo.js
  _app/immutable/nodes/1.DLY_zp_A.js
  _app/immutable/nodes/2.CKuFWUtl.js
  _app/immutable/nodes/2.pMCXpAEA.js
  _app/version.json
  index.html
Labels: none

Updates
  _app/immutable/assets/0.BiIm2OZ4.css
  _app/immutable/assets/0.DTXJe2cm.css
  _app/immutable/assets/_layout.D7m3H6HE.css
  _app/immutable/assets/_layout.x9meH9mZ.css
  _app/immutable/chunks/BjQbaunu.js
  _app/immutable/chunks/qEaNGg2x.js
  _app/immutable/entry/app.B6KyMF5z.js
  _app/immutable/entry/app.CbrMarC_.js
  _app/immutable/entry/start.BNPvQ47s.js
  _app/immutable/entry/start.CtHLDKZE.js
  _app/immutable/nodes/0.DKyuntCc.js
  _app/immutable/nodes/1.D9hleYeo.js
  _app/immutable/nodes/1.LNCkteRW.js
  _app/immutable/nodes/2.DaHR5cMr.js
  _app/immutable/nodes/2.pMCXpAEA.js
  _app/version.json
  index.html
Labels: none

fix errors and implement numerous features
  .prettierrc
  .vscode/settings.json
  README.md
  package.json
  src/app.css
  src/app.html
  src/lib/constants/command.ts
  src/lib/types/command.ts
  src/lib/utils/command.ts
  src/routes/+page.svelte
  src/routes/components/HistoryLine.svelte
  src/routes/components/UserInputForm/AutoComplete.svelte
  src/routes/components/UserInputForm/index.svelte
  src/routes/components/UserInputForm/util.ts
  src/routes/components/welcomeMessage.svelte
  src/settings.ts
  test/unitTest/findAvailableCommand.spec.ts
Labels: feat, docs, vscode-settings, packages

Updates
  _app/immutable/chunks/ozqVPcFw.js
  _app/immutable/chunks/qEaNGg2x.js
  _app/immutable/entry/app.B6KyMF5z.js
  _app/immutable/entry/app.Bz6qrMGV.js
  _app/immutable/entry/start.BNPvQ47s.js
  _app/immutable/entry/start.Cr3QHpt0.js
  _app/immutable/nodes/1.D0CNLX5m.js
  _app/immutable/nodes/1.LNCkteRW.js
  _app/immutable/nodes/2.DT1PySSD.js
  _app/version.json
  index.html
Labels: none

Updates
  _app/immutable/chunks/CEgx60b-.js
  _app/immutable/chunks/ozqVPcFw.js
  _app/immutable/entry/app.Bz6qrMGV.js
  _app/immutable/entry/app.CS-qZ8rt.js
  _app/immutable/entry/start.Cr3QHpt0.js
  _app/immutable/entry/start.DctwC_bF.js
  _app/immutable/nodes/1.D0CNLX5m.js
  _app/immutable/nodes/1.D5rRLw5A.js
  _app/version.json
  index.html
Labels: none

fix:fix times
  src/routes/components/welcomeMessage.svelte
Labels: feat

docs: update docs and minor changes about project
  .hintrc
  .vscode/settings.json
  README.md
  images/screenshot.png
  src/routes/components/welcomeMessage.svelte
  src/settings.ts
Labels: feat, docs, vscode-settings

docs: minor update README
  README.md
Labels: docs

fix: fix korean input error and add lower case matching function
  src/lib/constants/command.ts
  src/routes/components/UserInputForm/index.svelte
  src/routes/components/UserInputForm/util.ts
Labels: feat

feat: change message for typo
  src/routes/components/UserInputForm/util.ts
Labels: feat

Updates
  _app/immutable/assets/0.61NIW1_q.css
  _app/immutable/assets/0.DTXJe2cm.css
  _app/immutable/assets/_layout.Cl4e2cUF.css
  _app/immutable/assets/_layout.x9meH9mZ.css
  _app/immutable/chunks/6MNieN_J.js
  _app/immutable/chunks/B1wIvY6a.js
  _app/immutable/chunks/BHB9Lpxj.js
  _app/immutable/chunks/BpHyzvp-.js
  _app/immutable/chunks/Bt36EnOC.js
  _app/immutable/chunks/C1JYNBUW.js
  _app/immutable/chunks/CEgx60b-.js
  _app/immutable/chunks/CKluXSiL.js
  _app/immutable/chunks/CiYV1qqO.js
  _app/immutable/chunks/DApHANJj.js
  _app/immutable/chunks/DaY8q5UZ.js
  _app/immutable/chunks/DnZowv42.js
  _app/immutable/chunks/QyJZtLor.js
  _app/immutable/chunks/mf02nsm9.js
  _app/immutable/entry/app.CS-qZ8rt.js
  _app/immutable/entry/app.omal5GtK.js
  _app/immutable/entry/start.BRnU_tD5.js
  _app/immutable/entry/start.DctwC_bF.js
  _app/immutable/nodes/0.DCJFqduZ.js
  _app/immutable/nodes/0.DKyuntCc.js
  _app/immutable/nodes/1.BnXB2p0c.js
  _app/immutable/nodes/1.D5rRLw5A.js
  _app/immutable/nodes/2.COpuRtsu.js
  _app/immutable/nodes/2.DT1PySSD.js
  _app/version.json
  index.html
Labels: none

env: update node and pnpm to latest (lts)versions
  package.json
Labels: packages

test: testing new github settings
  package.json
Labels: packages

test: testing new github settings
  package.json
Labels: packages

feat: implement autocompleteion button and select function
  src/routes/components/UserInputForm/AutoComplete.svelte
  src/routes/components/UserInputForm/index.svelte
Labels: feat

Updates
  _app/immutable/assets/0.61NIW1_q.css
  _app/immutable/assets/0.CqCnJLsx.css
  _app/immutable/assets/_layout.Cl4e2cUF.css
  _app/immutable/assets/_layout.DyvZWhTl.css
  _app/immutable/chunks/6MNieN_J.js
  _app/immutable/chunks/BUUbZKku.js
  _app/immutable/entry/app.BTqaKV3A.js
  _app/immutable/entry/app.omal5GtK.js
  _app/immutable/entry/start.BRnU_tD5.js
  _app/immutable/entry/start.Dn5ohwJT.js
  _app/immutable/nodes/0.ClRHNub5.js
  _app/immutable/nodes/1.BnXB2p0c.js
  _app/immutable/nodes/1.Dua70eMU.js
  _app/immutable/nodes/2.COpuRtsu.js
  _app/immutable/nodes/2.S27OQANz.js
  _app/version.json
  index.html
Labels: none

.github/labeler.yml:

feat:
  - changed-files:
      - any-glob-to-any-file:
          - "src/**/*"
CI:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
docs:
  - changed-files:
      - any-glob-to-any-file:
          - "**/**.md"
          - "**/**.mdx"
vscode-settings:
  - changed-files:
      - any-glob-to-any-file:
          - ".vscode/**"
packages:
  - changed-files:
      - any-glob-to-any-file:
          - "**/package.json"
lint-formatting:
  - changed-files:
      - any-glob-to-any-file:
          - "**/.eslintrc.json"
          - "**/.prettierrc.json"
